* {
    box-sizing: border-box;
}
body {
    font-family:'Open Sans' ;
}
.header-contain {
    background: url(../images/fons/header.jpg) no-repeat center center  ;
    background-size: cover;
    min-height: 100vh;
    padding-top: 7%;
    padding-bottom: 7%;
}
.nav-header {
    font-weight: 700;
    font-family: 'Open Sans';
}
.header-burger-menu {
    background-color: rgba(28, 28, 28, 0);
    color: white;
    border: none;
    border-right: 2px solid white;
    padding-right: 10px;
    margin-right: 12px;
}
.name-header-class {
    color: white;
    font-family:  'Bebas Neue';
   margin-top: 13%;
}
.title-name {
    font-family: 'Bebas Neue' ;
    font-weight: 700;
    font-size: 60px;
    letter-spacing: 5px;
    line-height: 50px  
    
}
.subtitle-name {
    font-family: 'Bebas Neue' ;
    font-weight: 700;
    font-size: 24px;
    letter-spacing: 3px;
    line-height: 60px
}
.prices-button {
    font-family: 'Open Sans';
    padding: 17px;
}
.price-text {
    border-right: 1px solid #000000;
    padding-right: 5px;
}
/* What is SOS section */
.what-is-sos {
    background: url(../images/fons/section-two.jpg) no-repeat center center fixed;
    background-size: cover;
    padding-top: 8%;
    padding-bottom: 12%;
}
.text-contain-sos {
    font-family:'Bebas Neue' ;
    flex-basis: 45%;
}

.paragraph-text {
    font-family: 'Open Sans';
    letter-spacing: normal;
    font-weight: 400;
    font-size: 17px;
    width: 70%;
    line-height: 22px;
    margin-left: auto;
}
.fotos-contain {
    flex-basis: 45%;
}
.form-img {
    position: relative;
}
.form-img img {
    position: absolute;
    width: 402px;
    height: 450px;

}
.img-2 {
    padding-top: 10px;
    padding-bottom: 10px;
    left: 30px;
}
.img-3 {
    padding-top: 20px;
    padding-bottom: 20px;
    left: 60px;
}
.button-click{
   position: absolute; 
   top: 50%;
   bottom: 50%;
   left: 34em;
   background-color: rgba(28, 28, 28, 0);
   border: none;
   
}
/* What’s so special? */
.special-section {
    background:  url(../images/fons/section-left-dark.png), url(../images/fons/section-three.png) no-repeat center top;
    background-size: cover;
    min-height: 100vh;
    padding-top: 8%;
    padding-bottom: 10%;   
   
}

.features-container {
    font-family:'Bebas Neue';
}
.about-container {
    padding-top: 10%;
}
.about-item {
    padding-top: 24px;
    padding-bottom: 24px;
}
.about-question {
    color: #ffffff;
    letter-spacing: 3px;
    font-size: 28px;
    font-weight: 700;
    line-height: 28px; 
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    justify-content: start;
    gap: 20px;
    cursor: pointer;
    transition: 1.5s;
}
.about-question::after {
    content: '';
    display: block;
    width: 20px;
    height: 20px;
    background-image: url('../images/icons/circle.svg');
    background-repeat: no-repeat;
    background-position: center center;   
}
.about-question.circle {
    color: orange;
}
.about-question.circle::after {
    background-image: url('../images/icons/circle-fill.svg');
}
.about-question + .about-answer {
    height: 0;
    opacity: 0;
    margin: 0;
    transition:0.7s;
}
.about-question.circle + .about-answer {
    height: auto;
    opacity: 2;
    margin-top: 24px;
    margin-right: auto;
    margin-left: 10%;
    color: #ffffff;
    font-family:'Open Sans' ;
    font-size: 18px;
    font-weight: 400;
}
/* system requirements */
.system-section {
    background:  url(../images/fons/section-right-dark.png), url(../images/fons/section-four.png) no-repeat center center  ;
    background-size: cover;
    min-height: 100vh;
    padding-top: 6%;
    padding-bottom: 8%;
}
.system-container {
    font-family: 'Bebas Neue';
}
table {
    border-collapse: collapse;
    width: 100%;
    margin: auto;
    margin-top: 20%;
    color: antiquewhite;
  }
  
  th {
    border: 1px solid #1e282e;
    padding: 10px 10px 30px 20px ;
    font-family:'Bebas Neue' ;
    letter-spacing: 3px;
    font-size: 24px;
    color: #ffb548;
    text-decoration: uppercase;
  }
  
.table-text {
    font-family: 'Open Sans';
    font-size: 17px;
    font-weight: 400;
    letter-spacing: normal;
    color: #ffffff;
    
}
.table-text-two {
    line-height: 0%;
}


/* What people think?   */
.thoughts {
    background: url(../images/fons/section-five-dark.png), url(../images/fons/footer.jpg) no-repeat;
    min-height: 100vh;
    padding-top: 10%;
    padding-bottom: 8%;
}
.press-quotes {
    flex-basis: 33%;
}
.text-section {
    padding-top: 10%;
    font-family: 'Open Sans';
    font-weight: 400;
    color: #ffffff;
}
.button-quotes {
    margin-top: 10%;
    font-size: 16px;
    font-weight: 700;
    padding:15px 20px 15px 20px;
}